<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gilbert</title>
    /*<link rel="stylesheet" href="/css/style.css">*/
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/favorites.css"/>
</head>

<body>

<!-- TOPBAR -->
<header class="topbar">
    <div class="top-left">
        <a href="/notifications" class="icon-btn">🔔</a>
    </div>

    <div class="top-center">
        <img src="/images/Gilbert.jpg" class="logo" id="logo">
    </div>

    <div class="top-right">
        <a href="/cart" class="icon-btn">🛒</a>
    </div>
</header>

<!-- CONTENT -->
<main class="content">
    <h1 class="page-title">Latest Products</h1>
    <div id="products" class="product-grid"></div>
</main>

<!-- BOTTOM NAV -->
<nav class="bottom-nav">
    <a href="/" class="nav-item">🏠</a>
    <a href="/search" class="nav-item">🔍</a>

    <a href="/create-product" class="nav-item sell-btn">＋</a>

    <a href="/favorites" class="nav-item">❤️</a>
    <a href="/me" class="nav-item">🐱</a>
</nav>

<script src="/js/frontPage.js"></script>
<script src="/js/favorite-toggle.js"></script>
<script src="/js/admin-link.js"></script>

</body>
</html>
