<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kort beskrivelse til søgemaskiner.">
    <meta name="author" content="Thomas BKJ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gilbert</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<button><a href="/login">To login</a></button>
<button><a href="/me">To my page</a></button>
<button><a href="/admin">Admin dash</a></button>
<button><a href="/create-product">Create product</a></button>
<button id="logoutBtn">logout</button>
<h1>Products</h1>
<div id="products" class="product-grid"></div>
<script src="/js/script.js"></script>
<script src="/js/frontPage.js"></script>
<footer>&copy; ThomasBJ</footer>
</body>
</html>