<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <title>My Profile</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>My Profile</h1>

<p><a href="/edit-me">Edit profile</a></p>
<p><a href="/change-password">Change password</a></p>
<p><a href="/change-email">Change email</a></p>
<p><a href="/new-product">Post a new product</a></p>

<div id="status"></div>

<div class="profile-view">

  <img id="avatar" style="max-width:150px; display:block; margin-bottom:20px;">

  <p><strong>User name:</strong> <span id="username"></span></p>
  <p><strong>City:</strong> <span id="city"></span></p>
  <p><strong>Country:</strong> <span id="country"></span></p>
  <p><strong>CVR:</strong> <span id="cvr"></span></p>
  <p><strong>Bio:</strong></p>
  <p id="bio"></p>
  <p><strong>Language:</strong> <span id="language"></span></p>

</div>

<h2>Mine produkter</h2>
<div id="my-products"></div>


<script src="/js/me.js"></script>
</body>
</html>
